.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.bg-primary{
background-color: rgb(9, 51, 136);
}
.bg-gary{
  background-color: rgb(193, 194, 194);
}